# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/libraries

.htaccess
authorize.php
cron.php
index.php
install.php
update.php
xmlrpc.php
CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
UPGRADE.txt
includes
misc
sites/*/modules/contrib
sites/*/themes/contrib
profiles
scripts
themes/bartik
themes/engines
themes/garland
themes/seven
themes/stark
web.config
ziquid.dd
sites/all/themes/mobile

default.settings.php
example.sites.php
sites.php

!sites/all/modules/custom
!sites/all/modules/features
!sites/all/themes/custom
modules/README.txt
modules/aggregator
modules/block
modules/blog
modules/book
modules/color
modules/comment
modules/contact
modules/contextual
modules/dashboard
modules/dblog
modules/field
modules/field_ui
modules/file
modules/filter
modules/forum
modules/help
modules/image
modules/locale
modules/menu
modules/node
modules/openid
modules/overlay
modules/path
modules/php
modules/poll
modules/profile
modules/rdf
modules/search
modules/shortcut
modules/simpletest
modules/statistics
modules/syslog
modules/system
modules/taxonomy
modules/toolbar
modules/tracker
modules/translation
modules/trigger
modules/update
modules/user
